@model IEnumerable<XBC.ViewModel.BootcampTestTypeViewModel>

<div class="row" style="padding: 1rem 0rem 4rem 0rem">
    <div class="col-lg-4">
        <input type="text" id="txt-search" class="form-control" placeholder="Search..." />
    </div>
    <div class="col-lg-6">
        <button type="button" id="btn-search" class="btn btn-primary">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
    </div>
    <div class="col-lg-2">
        <button id="btn-create-new" type="button" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
    </div>
</div>
<style>
    th {
        text-align: center;
    }

    td#dropdown {
        text-align: center;
    }
</style>
<table class="table table-striped table-bordered">
    <tr>
        <th>
            @Html.DisplayName("Name")
        </th>
        <th>
            @Html.DisplayName("Created By")
        </th>
        <th>
            @Html.DisplayName("#")
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>

            <td id="dropdown">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="icon-bar"></span>

                        <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item btn-edit" href="#" data-id="@item.id"><div class="col-lg-12">Edit</div></a>
                        <a class="dropdown-item btn-delete" href="#" data-id="@item.id"><div class="col-lg-12">Delete</div></a>
                    </div>
                </div>

            </td>
        </tr>
    }

</table>
<script type="text/javascript">
    $("#btn-search").click(function () {
        $.ajax({
            url: '@Url.Action("List", "BootcampTestType")',
            type: 'get',
            data: { search: $("#txt-search").val() },
            success: function (result) {
                //console.log("1");
                $("#data-list").html(result);
            }
        });
    });
    $("#txt-search").change(function () {
        $.ajax({
            url: '@Url.Action("List", "BootcampTestType")',
            type: 'get',
            data: { search: $("#txt-search").val() },
            success: function (result) {
                //console.log("1");
                $("#data-list").html(result);
            }
        });
    });
    $("#btn-create-new").click(function () {
        $.ajax({
            url: '@Url.Action("Create","BootcampTestType")',
            type: 'get',
            success: function (result) {
                $(".modal-body").html(result);
                $(".modal").modal('show');
            }
        })
    })
    $(".btn-edit").click(function () {
        $.ajax({
            url: '@Url.Action("Edit", "BootcampTestType")',
            type: 'get',
            data: { id: $(this).attr("data-id") },
            success: function (result) {
                $(".modal-body").html(result);
                $(".modal").modal('show');
            }
        });

    });

    $(".btn-delete").click(function () {
        $.ajax({
            url: '@Url.Action("Delete", "BootcampTestType")',
            type: 'get',
            data: { id: $(this).attr("data-id") },
            success: function (result) {
                $(".modal-body").html(result);
                $(".modal").modal('show');
                GetList();
            }
        });
    });

</script>

