@model IEnumerable<XBC.ViewModel.TestViewModel>

<div class="row">
    <div class="col-lg-4">
        <input type="text" id="txt-search" class="form-control" placeholder="Search by Name..." />
    </div>
    <div class="col-lg-2">
        <button type="button" id="btn-search" class="btn btn-primary">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
    </div>
    <div class="col-lg-2">
        <button type="button" id="btn-create-new" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
    </div>
</div>
<p> </p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.createdBy)
            </th>
            <th>#</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.createdBy)
                </td>
                <td>
                    <button type="button" id="btn-action" class="btn btn-primary">
                        <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                    </button>

                    @*@Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.id })*@
                </td>
            </tr>
        }
    </tbody>
</table>


<script type="text/javascript">
    $("#btn-create-new").click(function () {
        $.ajax({
            url: '@Url.Action("Create", "Test")',
            type: 'get',
            success: function (result) {
                $(".modal-title").html("Create New");
                $(".modal-body").html(result);
                $('.modal').modal('show');
            }
        });
    });

    $("#btn-search").click(function () {
        $.ajax({
            url: '@Url.Action("List", "Test")',
            type: 'get',
            data: { search: $("#txt-search").val() },
            success: function (result) {
                $("#data-list").html(result);
            }
        });
    });

    $("#txt-search").change(function () {
        $.ajax({
            url: '@Url.Action("List", "Test")',
            type: 'get',
            data: { search: $("#txt-search").val() },
            success: function (result) {
                $("#data-list").html(result);
            }
        });
    });
</script>
