@model XBC.ViewModel.UserViewModel
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Forgot Password</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <img src="~/bg.jpg" style="width : 100%; height:100%; position:fixed; top:0px;" />
    <div class="col-sm-3" style="background:#fff; float:none; margin-left:37.5%; padding:3rem 3rem 7rem 3rem;  border-radius:5px; margin-top:12rem; ">
        <label for="exampleInputEmail1">Forgot Password</label><hr />
        @using (Html.BeginForm("ForgotPassword", "Home", FormMethod.Post, new { id = "form-forgot", name = "form-forgot" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input type="text" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email" name="email">
            </div>
            <input type="submit" class="btn btn-outline-info my-2 my-sm-0 float-right" name="login" value="Send Email">
        }
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">
    $("#form-forgot").submit(function () {
        $.ajax({
            url: this.action,
            type: this.method,
            data: $(this).serialize(),
            success: function (result) {
                if (result.success) {
                    alert("Check Your Email");
                }
                else {
                    alert(result.message);
                }
            }
        });
        return false;
    });
    </script>
</body>
</html>
