@model XBC.ViewModel.UserViewModel
@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Forgot Password</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <img src="~/bg.png" style="width : 100%; height:100%; position:fixed; top:0px;" />
    <div class="col-sm-4" style="background:#fff; float:none; margin-left:33.3333%; padding:3rem 3rem 3rem 3rem;  border-radius:5px; margin-top:12rem; ">
        <label for="exampleInputEmail1">Forgot Password</label><hr />
        @using (Html.BeginForm("ResetPassword", "Home", FormMethod.Post, new { id = "form-edit", name = "form-edit" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.id)

                <div class="form-group">
                    @Html.LabelFor(model => model.password, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        <input type="password" name="password" class="form-control" placeholder="Password" id="pw-main" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" onchange="cekPassword()" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3"> </label>
                    <div class="col-md-9">
                        <input type="password" name="password" class="form-control" placeholder="Re-type Password" id="pw-second" onchange="cekPassword()" />
                        <span class="field-validation-valid text-danger" style="display:none;" id="valid-password">Password Tidak Sama</span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Reset" class="btn btn-default" style="float:right; margin-top:3rem;"/>
                    </div>
                </div>
            </div>
        }
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">
    var cocok = false;
    $(document).ready(function () {
        $("#form-create").removeAttr("novalidate");
    });
    function cekPassword() {
        if ($("#pw-main").val() == $("#pw-second").val() && $("#pw-second").val() !="") {
            cocok = true;
            $("#valid-password").hide();
        } else if ($("#pw-second").val() != "") {
            cocok = false;
            $("#valid-password").show();
        }
    }
    $("#form-edit").submit(function () {
        if (cocok) {
            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                success: function (result) {
                    if (result.success) {
                        alert("Password Telah Dirubah");
                    }
                    else {
                        alert("Error\nName" + result.message);
                    }
                }
            });
        }
        return false;
    });
    </script>
</body>
</html>
