@model XBC.ViewModel.BatchViewModel
@{
    ViewBag.id = Session["id"];
}

@using (Html.BeginForm("Edit", "Batch", FormMethod.Post, new { id = "form-edit", name = "form-edit" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.id)
        <input type="hidden" id="UserId" name="UserId" value="@ViewBag.id" />

        <table class="table">
            <tr>
                <td>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label" })
                            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Name", @style = "width:283px" } })
                            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </td>
                <td></td>
                <td>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.roomId, htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownListFor(model => model.roomId, (IEnumerable<SelectListItem>)ViewBag.roomList, "- Choose Room -", new { @class = "form-control", @style = "width:283px" })
                            @Html.ValidationMessageFor(model => model.roomId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.technologyId, htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownListFor(model => model.technologyId, (IEnumerable<SelectListItem>)ViewBag.technologyList, "- Choose Technology -", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.technologyId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </td>
                <td></td>
                <td>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.trainerId, htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownListFor(model => model.trainerId, (IEnumerable<SelectListItem>)ViewBag.TerainerList, "- Choose Trainer -", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.trainerId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.periodFrom, htmlAttributes: new { @class = "control-label" })
                            <input type="date" name="periodFrom" placeholder="Period From" class="form-control" style="padding : 7px;" value="@ViewBag.tanggalmulai" />
                            @Html.ValidationMessageFor(model => model.periodFrom, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </td>
                <td></td>
                <td>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.periodTo, htmlAttributes: new { @class = "control-label" })
                            <input type="date" name="periodTo" placeholder="Period To" class="form-control" style="padding : 7px;" value="@ViewBag.tanggalselesai" />
                            @Html.ValidationMessageFor(model => model.periodTo, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.bootcampTypeId, htmlAttributes: new { @class = "control-label" })
                            @Html.DropDownListFor(model => model.bootcampTypeId, (IEnumerable<SelectListItem>)ViewBag.BootcampTypeList, "- Choose Bootcamp Type -", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.bootcampTypeId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </td>
                <td></td>
                <td>
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.notes, htmlAttributes: new { @class = "control-label" })
                            <textarea class="form-control" name="notes" style="height:7rem; resize:none" placeholder="Notes">@Model.notes</textarea>
                            @Html.ValidationMessageFor(model => model.notes, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td align="right">
                    <div class="form-group">
                        <div class="col-md-12">
                            <button style="width:100px" type="button" class="btn btn-primary" data-dismiss="modal">CANCEL</button>
                            <input style="width:100px" type="submit" value="SAVE" class="btn btn-primary" />
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
}

@Scripts.Render("~/bundles/jqueryval")


<script type="text/javascript">
    $("#form-edit").submit(function () {
        $.ajax({
            url: this.action,
            type: this.method,
            data: $(this).serialize(),
            success: function (result) {
                if (result.success) {
                    alert("Data Successfully Updated !");
                    $(".modal").modal("hide");
                    GetList();
                }
                else {
                    alert("Error\nName: " + result.message);
                }
            }
        })
        return false;
    });

    $("#technologyId").change(function () {
        console.log($("#technologyId").val());
        $.ajax({
            url: '@Url.Action("ListByTechnology", "Trainer")',
            type: 'get',
            data: { id: $("#technologyId").val() },
            success: function (result) {
                $("#trainerId").html(result);
            }
        });
    });

    $("#periodTo").change(function () {
        if ($("#periodTo").val() < $("#periodFrom").val()) {
            alert("PeriodTo Kurang Dari PeriodFrom !");
            $("#periodTo").val(null)
        }
    });

    $("#periodFrom").change(function () {
        if ($("#periodTo").val() < $("#periodFrom").val()) {
            $("#periodTo").val(null)
        }
    });
</script>   