<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div style="height:10vh; background:#2c3e50; width:100%; padding:1.5vh; position:fixed; top:0; z-index:999;">
        <button type="button" id="sidebarCollapse" class="btn btn-info" style="height:100%; background:#fff; padding : 5px;">
            <i class="fas fa-align-left"></i>
            <image src="menu.png" style="height:100%; width : auto">
        </button>
    </div>
    <div class="wrapper">
        <nav id="sidebar">
            <img src="images/logo.png" class="col-sm-12" style="margin-top:2rem;">
            <ul class="list-unstyled components">
                <li class="active">
                    <a href="input_barang.php">Input Barang</a>
                </li>
                <li>
                    <a href="#"><div style="">Data Barang</div></a>
                </li>
                <li>
                    <a href="eoq.php">EOQ</a>
                </li>
                <li>
                    <a href="logout.php">Log Out</a>
                </li>
            </ul>
        </nav>
        <div id="content">
            @RenderBody()
        </div>
    </div>

    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
</body>
</html>
