@model XBC.ViewModel.MenuViewModel
@{
    ViewBag.id = Session["id"];
}
@using (Html.BeginForm("Create", "Menu", FormMethod.Post, new { id = "form-create", name = "form-create", validate = "validate" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" id="UserId" name="UserId" value="@ViewBag.id" />
    <div class="form-horizontal">
        <table class="table">
            <tr>
                <td>
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.title, new { htmlAttributes = new { @class = "form-control", @placeholder = "Title" } })
                            @Html.ValidationMessageFor(model => model.title, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </td>
                <td>
                    <div class="form-group">

                        <div class="col-md-10">
                            @Html.EditorFor(model => model.image_url, new { htmlAttributes = new { @class = "form-control", @placeholder = "Image URL", @style = "display:inline;" } })
                            @Html.ValidationMessageFor(model => model.image_url, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td rowspan="3">
                    <div class="form-group" id="text-deskripsi" style="height:100%">

                        <div class="col-md-10">
                            <textarea class="form-control" name="descriptoin"  style="height:18rem; resize:none;" placeholder="Description"></textarea>
                            @Html.ValidationMessageFor(model => model.descriptoin, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.menu_order, new { htmlAttributes = new { @class = "form-control", @placeholder = "Menu Order" } })
                            @Html.ValidationMessageFor(model => model.menu_order, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">

                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.menu_parent, (IEnumerable<SelectListItem>)ViewBag.MenuList, "Master", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.menu_parent, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.menu_url, new { htmlAttributes = new { @class = "form-control", @placeholder = "Menu URL" } })
                            @Html.ValidationMessageFor(model => model.menu_url, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </td>
            </tr>
        </table>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
}
@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
    function cekPassword() {
        if ($("#pw-main").val() == $("#pw-second").val() && $("#pw-second").val() != "") {
            cocok = true;
            $("#valid-password").hide();
        } else if ($("#pw-second").val() != "") {
            cocok = false;
            $("#valid-password").show();
        }
    }
    $("#form-create").submit(function () {
        $.ajax({
            url: this.action,
            type: this.method,
            data: $(this).serialize(),
            success: function (result) {
                if (result.success) {
                    //alert("Save Successfull\nName" + result.entity.Name);
                    $(".modal").modal("hide");
                    $('.tx-info').html("Data successfully saved !")
                    $(".alert").show();
                    GetList();
                }
                else {
                    alert("Error\nName" + result.message);
                }
            }
        });

        return false;
    });
</script>
