@model XBC.ViewModel.RoomViewModel

@{
    ViewBag.id = Session["id"];
}
@using (Html.BeginForm("AddListRoom", "Office", FormMethod.Post, new { id = "form-addlistroom", name = "form-addlistroom" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" name="UserId" id="UserId" value="@ViewBag.id" />
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <table class="table table-bordered table-striped" style="width:100%">
            <tr>
                <td>
                    <div class="form-group">
                        @Html.LabelFor(model => model.code, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.code, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.code, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.capacity, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10" id="capacity">
                            @Html.EditorFor(model => model.capacity, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.capacity, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.any_projector, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div class="checkbox">
                                <input type="radio" name="anyProjector" value="Yes" id="rd-yes" @ViewBag.rdyes /> Yes
                                <input type="radio" name="anyProjector" value="No" id="rd-No" @ViewBag.rdno /> No
                                @*@Html.EditorFor(model => model.any_projector)*@
                                @Html.ValidationMessageFor(model => model.any_projector, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.notes, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.notes, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.notes, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                            <button type="button" class="btn btn-default btncancel">Cancel</button>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
}

@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
    $("#capacity").keypress(function (data) {
        if (data.which < 47 || data.which > 57) {
            return false;
        }
    });
    $("#form-addlistroom").submit(function () {
        $.ajax({
            url: this.action,
            type: this.method,
            data: $(this).serialize(),
            success: function (result) {
                $("#room-list").find("tbody").append(result);
                $(".modal2").hide();
                $(".modal2").html();
            }
        });
        return false;
    });
    $(".btncancel").click(function () {
        $.ajax({
            url: this.action,
            type: this.method,
            data: $(this).serialize(),
            success: function (result) {
                $(".modal2").hide();
                $(".modal2").html();
            }
        });
    });
</script>
