@model IEnumerable<XBC.ViewModel.TechnologyViewModel>

<div>
    <div class="col-md-7" style="padding:5rem 0rem 5rem 0rem; display:inline">
        <input type="text" id="txt-search" class="form-control" style="padding:7px; width:70%; display:inline" placeholder="Search by name" />
        <button type="button" id="btn-search" class="btn btn-primary" style="padding:7px 15px 7px 15px; display:inline">
            <span class="glyphicon glyphicon-search"></span>
        </button>
    </div>
    <div class="col-md-3" style="padding: 5rem 0rem 5rem 0rem; display:inline; float:right">
        <button type="button" id="btn-create-new" class="btn btn-primary" style="padding: 7px 15px 7px 15px; float:right">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
    </div>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.created_by)
            </th>
            <th>#</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.created_by)
                </td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-align-justify"></span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item btn-edit" href="#" data-id="@item.id"><div class="col-lg-12">Edit</div></a>
                            <a class="dropdown-item btn-delete" href="#" data-id="@item.id"><div class="col-lg-12">Delete</div></a>
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    }
</table>

<script>
    $("#btn-create-new").click(function () {
        $(".modal2").hide();
        $.ajax({
            url: '@Url.Action("Create", "Technology")',
            type: 'get',
            success: function (result) {
                $(".modal-body").html(result);
                $(".modal").modal("show");
            }
        });
    });
    $("#btn-search").click(function () {
        $.ajax({
            url: '@Url.Action("Search", "Technology")',
            type: 'get',
            data: { search: $("#txt-search").val() },
            success: function (result) {
                $("#data-list").html(result);
            }
        });
    });
</script>

<script type="text/javascript">
    $(".btn-edit").click(function () {
        $.ajax({
            url: '@Url.Action("Edit", "Technology")',
            type: 'get',
            data: { id: $(this).attr("data-id") },
            success: function (result) {
                $(".modal-body").html(result);
                $('.modal').modal('show');
            }
        });
    });
</script>

<script type="text/javascript">
    $(".btn-delete").click(function () {
        $.ajax({
            url: '@Url.Action("Delete", "Technology")',
            type: 'get',
            data: { id: $(this).attr("data-id") },
            success: function (result) {
                $(".modal-body").html(result);
                $('.modal').modal('show');
            }
        });
    });
</script>