@model XBC.ViewModel.Document_Test_DetailViewModel


@using (Html.BeginForm("AddQuestion", "Document_Test", FormMethod.Post, new { id = "form-create", name = "form-create" })) 
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.document_test_id )

    <div class="form-horizontal">
 

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.question_id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.question_id, (IEnumerable<SelectListItem>)ViewBag.QuestionList, "Choose Question", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.question_id, "", new { @class = "text-danger" })
            </div>
        </div>




        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" class="btn btn-danger btn-close"  >Cancel</button>
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>
    </div>
}


@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
    $("#form-create").submit(function () {
        $.ajax({
            url: this.action,
            type: this.method,
            data: $(this).serialize(),
            success: function (result) {
                if (result.success) {
                    alert("Data Successfully Saved!\nId: "+   result.entity.Id+ "\nName: " + result.entity.Name);
                    $(".modal").modal("show");
                    $(".modal2").hide();
                    GetList2();
                } else {
                    alert("Error!\n: " + result.message);
                }
            }

        });
        return false
    });

    $(".btn-close").click(function () {
        $(".modal2").hide();
    })

</script>

