@model XBC.ViewModel.Document_TestViewModel


@using (Html.BeginForm("Create", "Document_Test", FormMethod.Post, new { id = "form-create", name = "form-create" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div>
            <div class="form-group col-lg-6">
                @*@Html.LabelFor(model => model.test_id, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.test_id, (IEnumerable<SelectListItem>)ViewBag.TestList, "Choose Test", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.test_id, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group col-lg-6">
                @*@Html.LabelFor(model => model.test_type_id, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.test_type_id, (IEnumerable<SelectListItem>)ViewBag.Test_TypeList, "Choose Test Type", new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.test_type_id, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div>
            <div class="form-group col-lg-6">
                @*@Html.LabelFor(model => model.version, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10">
                    @Html.EditorFor(model => model.version, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    @*@Html.ValidationMessageFor(model => model.version, "", new { @class = "text-danger" })*@
                </div>
            </div>

            <div class="form-group col-lg-6" >
                @*@Html.LabelFor(model => model.token, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <div class="col-md-10" >
                    @Html.EditorFor(model => model.token, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    <button type="button" class="form-control-static" id="btn-token" style="padding : 7px;">
                        GENERATE
                    </button>
                    @*@Html.ValidationMessageFor(model => model.token, "", new { @class = "text-danger" })*@
                    @*<div class="col-md-2">
                        <button>generate</button>
                    </div>*@
                </div>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <input type="submit" value="Save" class="btn btn-success" />
            </div>
        </div>
    </div>
}


@Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">
    $("#form-create").submit(function () {
        var len = $("#version").val().toString()
        $.ajax({
            url: this.action,
            type: this.method,
            data: $(this).serialize(),
            success: function (result) {
                if (result.success) {
                    $(".modal-body #version").val(result.entity.version);
                    $(".modal-body #token").val(result.entity.token);
                    alert("Save Successful!\nId: " + result.entity.id + "\nName: " + result.entity.name);
                    $(".modal").modal("hide");
                    GetList();
                } else {
                    alert("Error!\n: " + result.message);
                }
            }

        });
        return false
    });

    $("#btn-token").click(function () {
        $.ajax({
            url: '@Url.Action("GenerateCreate", "Document_Test")',
            type: 'get',
            success: function (result) {
                    $(".modal-body #token").val(result.generate);

            }

        });
        return false
    });

    $("#test_type_id").change(function () {
        //var id = parseFloat($(".modal-body #test_type_id").val())
        $.ajax({
            url: '@Url.Action("NewVersion", "Document_Test")',
            type: 'get',
            data: { id: $(".modal-body #test_type_id").val() },
            success: function (result) {
                $(".modal-body #version").val(result.generate);

            }

        });
        return false
    });

    @*$("#test_type_id").keyup(function () {
         var id = parseFloat($(".modal-body #test_type_id").val())
        $.ajax({
            url: '@Url.Action("NewVersion", "Document_Test")',
            type: 'get',
            data: { id},
            success: function (result) {
                $(".modal-body #test_type_id").val(result.generate);

            }

        });
        return false
    });*@

</script>
