@model XBC.ViewModel.Document_Test_DetailViewModel
@{
    ViewBag.id = Session["id"];
}
<h3>Are you sure you want to delete this?</h3>
@*<div>
    <h4>Document_Test_DetailViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.question_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.question_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.document_test_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.document_test_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.question)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.question)
        </dd>

    </dl>*@

    @using (Html.BeginForm("DeleteQuestion", "Document_Test", FormMethod.Post, new { id = "form-delete", name = "form-delete" })) {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.id )
        <input type="hidden" id="UserId" name="UserId" value="@ViewBag.id" />
        <div class="form-actions no-color">
            <input type="button" value="No" class="btn btn-danger btn-close"  />
            <input type="submit" value="Yes" class="btn btn-success" />

        </div>
    }
@*</div>*@

<script type="text/javascript">
    $("#form-delete").submit(function () {
        $.ajax({
            url: this.action,
            type: this.method,
            data: $(this).serialize(),
            success: function (result) {
                if (result.success) {
                    alert("Data Successfully Deleted !");
                    $(".modal").modal("show");
                    $(".modal2").hide();
                    GetList2();
                } else {
                    alert("Error!\n" + result.message);
                }
            }
        });
        return false;
    });

    $(".btn-close").click(function () {
        $(".modal2").hide();
    })
</script>

