@model IEnumerable<XBC.ViewModel.Document_TestViewModel>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TestType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.version)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Test)
        </th>
        <th>#</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TestType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.version)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Test)
            </td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-align-justify"></span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item btn-edit" href="#" data-id="@item.id"><div class="col-lg-12">Edit</div></a>
                        <a class="dropdown-item btn-copydocument" href="#" data-id="@item.id"><div class="col-lg-12">Copy Document</div></a>
                        <a class="dropdown-item btn-viewtest" href="document_test/viewtest/@item.id" data-id="@item.id" ><div class="col-lg-12">View Test</div></a>
                        <a class="dropdown-item btn-delete" href="#" data-id="@item.id"><div class="col-lg-12">Delete</div></a>
                    </div>
                </div>
            </td>
        </tr>
        @Html.HiddenFor(modelItem => item.test_type_id)

    }

</table>

<script type="text/javascript">
    $("#btn-search").click(function () {
        $.ajax({
            url: '@Url.Action("List","Document_Test")',
            type: 'get',
            data: { search: $("#txt-search").val() },
            success: function (result) {
                $("#data-list").html(result);
            }
        });
    });

    $(".btn-edit").click(function () {
        $(".modal2").hide();
        $.ajax({
            url: '@Url.Action("Edit", "Document_Test")',
            type: 'get',
            data: { id: $(this).attr("data-id") },
            success: function (result) {
                $(".modal-title").html("Edit Category");
                $(".modal-body").html(result);
                $('#myModal').modal('show');
            }
        });
    });

    $(".btn-delete").click(function () {
        $.ajax({
            url: '@Url.Action("Delete", "Document_Test")',
            type: 'get',
            data: { id: $(this).attr("data-id") },
            success: function (result) {
                $(".modal-title").html("Delete Category");
                $(".modal-body").html(result);
                $('.modal').modal('show');
            }
        });
    });

    $(".btn-copydocument").click(function () {
        //var data_id = $(this).attr("data-id").split("/");
        //var data = "id=" + data_id[0] + "&id2=" + data_id[1];
        $.ajax({
            url: '@Url.Action("CopyDocument", "Document_Test")',
            type: 'get',
            data: { id: $(this).attr("data-id")} ,
            success: function (result) {
                $(".modal-title").html("Copy Document");
                $(".modal-body").html(result);
                $('.modal').modal('show');
            }
        });
    });

    $(".btn-viewtest").click(function () {
        $.ajax({
            url: '@Url.Action("ViewTest", "Document_Test")',
            type: 'get',
            data: { id: $(this).attr("data-id") },
            success: function (result) {
                $(".modal-title").html("Delete Category");
                $(".modal-body").html(result);
                $('.modal').modal('show');
            }
        });
    });
</script>