@model XBC.ViewModel.TrainerViewModel
@{
    ViewBag.id = Session["id"];
}


@using (Html.BeginForm("Create", "Trainer", FormMethod.Post, new { id = "form-create", name = "form-create" }))
{
    @Html.AntiForgeryToken()
    <input type="hidden" id="UserId" name="UserId" value="@ViewBag.id" />
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <table class="table" style="width:100%">
            <div class="form-group">
                @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control", @style = "max-width:100%; height:5rem; resize:none;", @placeholder = "Name", @pattern = "[A-Za-z][A-Za-z.' ]{0,}", @title ="Nama Trainer tidak bisa mengandung angka, spasi dan spesial character di depan huruf pertama" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.notes, htmlAttributes: new { @class = "control-label" })
                <textarea class="form-control" name="notes" style="max-width:100%; height:15rem; resize:none;" placeholder="Notes"></textarea>
                @Html.ValidationMessageFor(model => model.notes, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" value="Cancel" class="btn btn-primary" data-dismiss="modal"/>
                    <input type="submit" value="Save" class="btn btn-primary"/>
                </div>
            </div>
        </table>
    </div>
}
@Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">
    $(document).ready(function () {
        $("#form-create").removeAttr("novalidate");
    });
    $("#form-create").submit(function () {
        $.ajax({
            url: this.action,
            type: this.method,
            data: $(this).serialize(),
            success: function (result) {
                if (result.success) {
                    alert("Save Successfull!\nName: " + result.entity.name + "\nNotes: " +
                    result.entity.notes);
                    $(".modal").modal("hide");
                    GetList();
                } else {
                    alert("Error\n" + result.message);
                }
            }
        });
        return false;
    });
</script>