@model XBC.ViewModel.QuestionViewModel


@using (Html.BeginForm("Create", "Question", FormMethod.Post, new { id = "form-create", name = "form-create", enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.questionType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.questionType, new { htmlAttributes = new { @class = "form-control" } })*@
                <select class="form-control" name="questionType" id="questionType">
                    <option value="MC">Multiple Choice</option>
                    <option value="ES">Essay</option>
                </select>
                @Html.ValidationMessageFor(model => model.questionType, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.question, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.question, new { htmlAttributes = new { @class = "form-control" } })*@
                <textarea class="form-control" name="notes" style="height:7rem; resize:none" placeholder="Question"></textarea>
                @Html.ValidationMessageFor(model => model.question, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.imageUrl, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.imageUrl, new { htmlAttributes = new { @type = "file", @class = "form-control", @name = "img" } })
                @*<textarea class="form-control" name="notes" style="height:7rem; resize:none" placeholder="Question"></textarea>*@                
                @Html.ValidationMessageFor(model => model.imageUrl, "", new { @class = "text-danger" })
            </div>
            @*<input type="file" name="img" class="col-md-3" required />*@
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">                
                <button type="button" class="btn btn-primary" data-dismiss="modal">CANCEL</button>
                <input type="submit" value="SAVE" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

@Scripts.Render("~/bundles/jqueryval")

<script type="text/javascript">
    $("#form-create").submit(function () {
        $.ajax({
            url: this.action,
            type: this.method,
            data: $(this).serialize(),
            success: function (result) {
                if (result.success) {
                    alert("Save successful\nName: " + result.entity.name);
                    $(".modal").modal("hide");
                    GetList();
                }
                else {
                    alert("Error\nName: " + result.message);
                }
            }
        })
        return false;
    });
</script>