@model IEnumerable<XBC.ViewModel.ClazzViewModel>

<div class="col-lg-3">
    <input type="text" id="txt-search" class="form-control" placeholder="search..." />

</div>
<div class="col-lg-9">
    <button type="button" id="btn-search" class="btn btn-primary" style="background-color:#000080">
        <span class="glyphicon glyphicon-search" aria-hidden="true" style="color:#ffffff"></span>
    </button>
</div>
<p>
    .
</p>
<style>
    th {
        text-align: center;
        color: #ffffff;
        background-color:#000080;
        }
    td#dropdown{
        text-align: center;
    }
    
</style>
<table class="table table-bordered">
    <tr>
        <th>
            @Html.DisplayName("Batch")
        </th>
        <th>
            @Html.DisplayName("Name")
        </th>
        <th>
            @Html.DisplayName("#")
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BatchName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BiodataName)
            </td>
            <td id="dropdown">
                <div class="dropdown">
                    <button class="btn dropdown-toggle" style="background-color:#000080" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="icon-bar"></span>
                        <span class="glyphicon glyphicon-align-justify" aria-hidden="true" style="color:#ffffff"></span>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item btn-delete" href="#" data-id="@item.id"><div class="col-lg-12">Delete</div></a>
                    </div>
                </div>
            </td>
        </tr>
    }

</table>
<script type="text/javascript">

    $("#btn-search").click(function () {
        $.ajax({
            url: '@Url.Action("List", "Class")',
            type: 'get',
            data: { search: $("#txt-search").val() },
            success: function (result) {
                //console.log("1");
                $("#data-list").html(result);
            }
        });
    });
    $("#txt-search").change(function () {
        $.ajax({
            url: '@Url.Action("List", "Class")',
            type: 'get',
            data: { search: $("#txt-search").val() },
            success: function (result) {
                //console.log("1");
                $("#data-list").html(result);
            }
        });
    });
    $(".btn-delete").click(function () {
        $.ajax({
            url: '@Url.Action("Delete", "Class")',
            type: 'get',
            data: { id: $(this).attr("data-id") },
            success: function (result) {
                $(".modal-body").html(result);
                $(".modal").modal('show');
            }
        });

    });
</script>